.header {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 9990;
  // background-color: #FFF;
  background-color:#9c88ff;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  box-shadow: 0 1px 5px 0 #cccbcb;
  /* padding: 0 3rem 0 2.6rem; */
  /* background: red; */
  border: 1px solid #ebebeb;
  height: 10%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);

  .header-links {
    width: 100%;
  }
}

.holder-logo {
  padding-top: 2rem;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  ul {
    float: right;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex: 1 1;
    height: 100%;
    margin: 0px;
    width: auto;
  }

  li {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    margin-bottom: 0;
    box-sizing: border-box;
    width: auto;
    z-index: 9999;
    margin: 0px 6px;
  }

  .signin {
    padding-left: 0;
    padding-right: 0;
  }

  .signup {
    border: 2px solid #5ae4ce;
    padding: 7px !important;
    border-radius: 0.6rem;
  }

  .signup:hover {
    background: linear-gradient(45deg, #1dbfaf 0, #1eaedb 85%, #1eaedb 100%);
  }

  .signup a:hover {
    color: white !important;
  }

  .signin a:hover {
    color: black !important;
  }

  .header-link-container {
    width: 80%;
  }

  .logo-container {
    width: 20%;
  }
}

#nav-mid{
  padding-top: 1rem;
}
.signin .btnv-3{
  background:transparent;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .header {

    height: auto;
  }

  .holder-logo {
    display: flex;
    justify-content: center;
 
  }

  .header-links ul {
    display: flex;
    justify-content: center;
  }
  .login-cont ul {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    height: auto;
  }
  .nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
  }
  .header-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .header-links ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    margin-left: 0;
  }

  .header-links #nav-mid {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  .login-cont ul {
    margin-top: 0;
  }

  .logout-cont ul {
    margin-top: 0;
    padding: 0;
    gap: 0;
   
  }
  .signin .email {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
 .header{
  overflow: auto;
 }

 
}
